<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div>
    <h2 >Ingrese su Usuario y contraseña</h2>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="login.Usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="login.Password"></ion-input>
    </ion-item>
    <section>
    <ion-button shape="block" routerLink="/home">Ingresar</ion-button>
    </section>  
    <ion-button shape="block" (click)="limpiar()">Limpiar</ion-button>

    <section>
      <ion-button shape="block" color="warning" (click)="ingresar()">¿Olvido la constraseña?</ion-button>
    </section>
  </div>


</ion-content>